.flex-header {
    display: flex;
}

.lmsh {


    text-align: center;

}

.msh {
    display: flex;
}

.llmsh {


    text-align: center;
    padding: 5px;
}

.ylm {
    background-color: #F9F206;
    height: 30px;

    color: #000000;

    border: 1px solid #707070;

}

/* .flm {
    border: 7px solid #707070;
} */



.text {
    display: flex;
}

.dog1 {
    background-color: #F9F206;
    transition: all 10s;
    margin: 20px;

}

/* .dp1 {
    width: 400px;
} */

.dfs {
    color: blue;
}

/* .hkv {
    border: 7px solid #707070;
} */

.yelow {
    background-color: #F9F206;
    text-align: left;
}

.blue {
    color: blue;
}

.big {
    border: 2px solid #F9F206;
}

.bylow {
    display: flex;
}

.blwo {
    background-color: #F9F206;
}

.og {


    text-align: center;
    padding: 10px;
}

/* .flex {
    display: flex;
    justify-content: space-between;
} */

.row {
    display: flex;
    /* width: 33.33%; */
    /* flex-wrap: wrap; */
    justify-content: space-between;

}

.flex+ {


    text-align: center;
    padding: 10px;
}

.upper-case {
    font-family: "ALK Rounded Nusx Med", sans-serif;
}

.flex {
    display: flex;
}

/* .fl {
    display: flex;
    justify-content: space-between;
} */

.flex {
    display: flex;
    justify-content: space-between;
}




/* .rowww {
    width: 25%;
} */

.logo {
    width: 230px;
    padding-left: 0px;
}

.righht {
    padding-right: 0px;
}

header a {
    color: inherit
}


a:hover {
    color: rgb(255, 255, 255);
    opacity: 0.5;
    transition: all 0.9s;
}

.dog1:hover {
    color: #F9F206;
    background-color: #000000;
    filter: grayscale(100%);
    transition: all 1s;
}

/* .row+{
    width: 33.33%;
} */
.padding {
    padding: 40px;
}

/* .row+m{
    width: 50%;
} */

.animation {
    animation-name: move;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(100px);
    }
}

.text {
    padding: 50px;

}

.box {
    border: 2px solid #F9F206;
    /* padding-left: 118px;
    padding-right: 117px;
    padding-bottom: 500px;
    border-width: 1685;
    border-right: 770; */
    flex-wrap: nowrap;
}


.padding-top {
    padding-top: 84px;
}

.center {
    text-align: center;
}

.the-last {
    border-left: 118;
}

.margin {
    margin-left: 100px;
    margin-right: 100px;
}

.position {
    position: relative;
     bottom: 160px;
     right: 100px;
}

.positionx{
    position: relative;
        top: 160px;
}
