.flex-header {
    display: flex;
}

.lmsh {


    text-align: center;

}

.msh {
    display: flex;
}

.llmsh {


    text-align: center;
    padding: 5px;
}

.ylm {
    background-color: #F9F206;
    height: 30px;

    color: #000000;

    border: 1px solid #707070;

}

/* .flm {
    border: 7px solid #707070;
} */

.gochi {
    padding: 20px;
    border: 7px solid #707070;
    background-color: #F9F206;
}

.text {
    display: flex;
}

.dog1 {
    background-color: #F9F206;


}

/* .dp1 {
    width: 400px;
} */

.dfs {
    color: blue;
}

/* .hkv {
    border: 7px solid #707070;
} */

.yelow {
    background-color: #F9F206;
}

.blue {
    color: blue;
}

.big {
    border: 2px solid #F9F206;
}

.bylow {
    display: flex;
}

.blwo {
    background-color: #F9F206;
}

.og {


    text-align: center;
    padding: 10px;
}

/* .flex {
    display: flex;
    justify-content: space-between;
} */

.row {
    display: flex;
    /* width: 33.33%; */
    /* flex-wrap: wrap; */
    justify-content: space-between;

}

.flex+ {


    text-align: center;
    padding: 10px;
}

.upper-case {
    font-family: "ALK Rounded Nusx Med", sans-serif;
}

.flex {
    display: flex;
}

/* .fl {
    display: flex;
    justify-content: space-between;
} */

.flex {
    display: flex;
    justify-content: space-between;
}




/* .rowww {
    width: 25%;
} */

.logo {
    width: 230px;
    padding-left: 0px;
}

.righht {
    padding-right: 0px;
}

header a {
    color: inherit
}


a:hover {
    color: rgb(255, 255, 255);
    opacity: 0.5;
    transition: all 0.9s;
}

.dog1:hover {
    color: #F9F206;
    background-color: #000000;
    filter: grayscale(100%);
    transition: all 9s;
}

/* .row+{
    width: 33.33%;
} */






.padding {
    padding: 40px;
}

/* .row+m{
    width: 50%;
} */